@media screen and (min-width: 1366px){
    .screen-forms-header{
        position: absolute;
        top: 32px;
        left: 0;
        right: 0;
        width: 100%;
        margin-bottom: 36px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
    .screen-forms{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape){
    .screen-forms{
        min-height:initial;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px){
    .screen-forms{
        padding: 15px;
    }
    .screen-forms-logo{
        margin-left: 0;
    }
    .screen-forms-language{
        margin-right: 0;
    }
    .registration__row .registration__field{
        width: 100%;
    }
}
@media screen and (max-width: 374px) and (orientation: portrait){
    .space-between > a{
        display: block;
        width: 100%;
        margin-top: 10px;
    }
    .screen-forms-language{
        width: 70px;
    }
    .select span{
        display: none;
    }
}