@media screen and (max-width: 767px){
    .screen-forms{
        padding: 15px;
    }
    .screen-forms-logo{
        margin-left: 0;
    }
    .screen-forms-language{
        margin-right: 0;
    }
    .registration__row .registration__field{
        width: 100%;
    }
}