/*General*/
img{
    display: block;
    max-width: 100%;
}
input, button, textarea, a{
    outline: none;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
input[type="file"]{
    display: none;
}
a{
    font-size: 14px;
    color: #4B6EE9;
    text-decoration: none;
}
a:not(.btn):hover{
    text-decoration: underline;
}
.mta{
    margin-top: auto;
}
/*Input*/
.inp-field{
    position: relative;
    width: 100%;
}
.label{
    display: block;
    margin-bottom: 6px;
    font-size: 12px;
    line-height: 16px;
    color: #73786D;
}
.label a{
    font-size: 12px;
    line-height: 16px;
}
.inp{
    width: 100%;
    padding: 0 12px;
    height: 36px;
    line-height: 34px;
    border: 1px solid #E6E7E4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    color: #1A1C17;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.inp--large{
    height: 44px;
    line-height: 42px;
    font-size: 16px;
}
.inp:focus{
    border: 1px solid #64B904;
}
.inp:focus ~ .label{
    color: #F92F3B;
}
.inp:disabled{
    background: #F2F3F1;
}
::-webkit-input-placeholder {
    font-family: 'Roboto', sans-serif;
    color: #B3B6AF;
}
::-moz-placeholder {
    font-family: 'Roboto', sans-serif;
    color: #B3B6AF;
}
:-ms-input-placeholder {
    font-family: 'Roboto', sans-serif;
    color: #B3B6AF;
}
:-moz-placeholder {
    font-family: 'Roboto', sans-serif;
    color: #B3B6AF;
}
.inp-msg{
    position: absolute;
    right: 0;
    top: 100%;
    margin-top: 6px;
    font-size: 12px;
    color: #B3B6AF;
    text-align: right;
}
.inp-field--error .inp{
    border: 1px solid #F92F3B;
}
.inp-field--error .inp-msg{
    color: #F92F3B;
}
/*Button*/
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 140px;
    height: 36px;
    padding: 0 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}
.btn:disabled{
    cursor: default;
}
.btn--p{
    background-color: #64B904;
    border: 1px solid #64B904;
    color: #ffffff;
    -webkit-box-shadow: 0 1px 2px rgba(83, 154, 3, 0.25);
    -moz-box-shadow: 0 1px 2px rgba(83, 154, 3, 0.25);
    box-shadow: 0 1px 2px rgba(83, 154, 3, 0.25);
}
.btn--p:hover{
    background-color: #6CC804;
}
.btn--p:focus{
    background-color: #539A03;
    border: 2px solid #CAFC90;
}
.btn--p:disabled{
    border: 1px solid #E6E7E4;
    background-color: #E6E7E4;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.btn--s{
    background-color: #fff;
    border: 1px solid #E6E7E4;
    color: #1A1C17;
}
.btn--s:hover{
    background-color: #F7F8F7;
    border: 1px solid #E6E7E4;
}
.btn--s:focus{
    background-color: #F2F3F1;
    border: 1px solid #E6E7E4;
    color: #73786D;
}
.btn--s:disabled{
    background-color: #fff;
    color: #B3B6AF;
}
.btn--l{
    height: 44px;
}
/*Checkbox*/
input[type="checkbox"]{
    display: none;
}
.checkbox{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #1A1C17;
}
.checkbox__checkmark{
    width: 18px;
    height: 18px;
    margin-right: 13px;
    background: #fff;
    border: 1px solid #BDBDBD;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
input[type="checkbox"]:checked ~ .checkbox__checkmark{
    background: url("../images/checkmark.svg") no-repeat center center, #64B904;
    border: 1px solid #64B904;
}
.checkbox:hover .checkbox__checkmark{
    background: #F7F8F7;
}
.checkbox:hover input[type="checkbox"]:checked ~ .checkbox__checkmark{
    background: url("../images/checkmark.svg") no-repeat center center, #6CC804;
    border: 1px solid #6CC804;
}
/*Messages*/
.message{
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    height: 36px;
    padding-left: 14px;
    padding-right: 14px;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    border-radius: 27px;
    background-color: rgba(115,120,109,0.7);
    -webkit-box-shadow: 0 3px 15px rgba(27, 28, 23, 0.15);
    -moz-box-shadow: 0 3px 15px rgba(27, 28, 23, 0.15);
    box-shadow: 0 3px 15px rgba(27, 28, 23, 0.15);
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
}
.message--done{
    padding-left: 34px;
    background: url("../images/msg-done.svg") no-repeat 6px center, rgba(100,185,4,0.7);
    -webkit-box-shadow: 0 3px 15px rgba(83, 154, 3, 0.3);
    -moz-box-shadow: 0 3px 15px rgba(83, 154, 3, 0.3);
    box-shadow: 0 3px 15px rgba(83, 154, 3, 0.3);
}
.message--error{
    padding-left: 34px;
    background: url("../images/msg-error.svg") no-repeat 6px center, rgba(249,47,59,0.7);
    -webkit-box-shadow: 0 3px 15px rgba(249, 47, 59, 0.3);
    -moz-box-shadow: 0 3px 15px rgba(249, 47, 59, 0.3);
    box-shadow: 0 3px 15px rgba(249, 47, 59, 0.3);
}
/*Select*/
.select {
    position: relative;
    width: 100%;
}
.select select {
    display: none;
}
.select-selected {
    border: 1px solid #E6E7E4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
    color: #1A1C17;
}
.select--disabled .select-selected{
    background-color: #F2F3F1;
    cursor: default;
}
.select-selected.select-arrow-active{
    border: 1px solid #64B904;
}
.select-selected:after {
    position: absolute;
    content: "";
    top: 50%;
    right: 10px;
    width: 16px;
    height: 16px;
    margin-top: -8px;
    background: url("../images/select-arrow.svg") no-repeat center center;
    background-size: contain;
}
.select-selected.select-arrow-active:after {
    background: url("../images/select-arrow.svg") no-repeat right center;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.select-items div, .select-selected {
    display: flex;
    align-items: center;
    height: 36px;
    padding: 0 16px;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
}
.select--l .select-items div, .select--l .select-selected{
    height: 44px;
}
.select--icon .select-items div, .select--icon .select-selected{
    padding-left: 12px;
}
.select--icon img{
    margin-right: 12px;
}
.select-items div{
    color: #1A1C17;
}
.select-items div.same-as-selected{
    color: rgba(26, 28, 23, 0.35);
    cursor: default;
}
.select-items {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 4px;
    padding: 4px 0;
    background-color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 15px rgba(27, 28, 23, 0.15);
    -moz-box-shadow: 0 3px 15px rgba(27, 28, 23, 0.15);
    box-shadow: 0 3px 15px rgba(27, 28, 23, 0.15);
    z-index: 99;
}
.select-hide {
    display: none;
}
.select-items div:not(.same-as-selected):hover{
    background-color: #FAFAFA;
}
/* Dropdown box*/
.dd-box{
    padding: 4px 0;
    background-color: #fff;
    border: 1px solid #F2F3F1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 15px rgba(27, 28, 23, 0.15);
    -moz-box-shadow: 0 3px 15px rgba(27, 28, 23, 0.15);
    box-shadow: 0 3px 15px rgba(27, 28, 23, 0.15);
}
a.dd-box__item{
    display: block;
    padding: 8px 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #1A1C17;
}
a.dd-box__item:hover{
    text-decoration: none;
    background-color: #FAFAFA;
}
/*Chips done*/
.chips-done{
    width: 100%;
}
.chips-done__item{
    display: inline-block;
    margin-bottom: 4px;
    padding: 6px 10px;
    font-size: 12px;
    line-height: 16px;
    color: #1A1C17;
    background-color: #F2F3F1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
/*Chips*/
.chips{
    display: flex;
    flex-wrap: wrap;
    padding: 1px;
    border: 1px solid #E6E7E4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.chip{
    position: relative;
    margin: 2px;
    padding: 6px 28px 6px 10px;
    font-size: 12px;
    line-height: 16px;
    color: #1A1C17;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #F2F3F1;
    white-space: nowrap;
    user-select: none;
}
.chip__close{
    position: absolute;
    top: 50%;
    right: 2px;
    width: 24px;
    height: 24px;
    margin-top: -12px;
    background: url("../images/cabinet/icon-close-chip.svg") no-repeat center center, transparent;
    cursor: pointer;
    z-index: 1;
}
.inp-chip{
    width: 100px;
    border: none;
    margin: 2px;
    padding: 6px 0;
    font-size: 12px;
    line-height: 16px;
    color: #1A1C17;
}
/*Icon button*/
.icon-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: transparent;
    cursor: pointer;
}
.icon-btn svg{
    fill: #1A1C17;
}
.icon-btn:hover{
    background-color: #FAFAFA;
}
.icon-btn:hover:disabled{
    background-color: transparent;
}
.icon-btn:focus{
    background-color: #F2F3F1;
}
.icon-btn:focus svg{
    fill: #73766F;
}
.icon-btn:disabled svg{
    fill: #E6E7E4;
}
/*Modal*/
.modal{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(26,28,23,0.6);
    padding: 15px;
    overflow-y: auto;
    z-index: 99;
}
.modal_opened{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.modal-window{
    position: relative;
    padding: 16px 24px 24px 24px;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.modal-window__title{
    margin-bottom: 20px;
}
.modal-btns-down{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.modal-btn-down-regular{
    width: 140px;
}
/*Tooltip*/
.tooltip{
    position: absolute;
    display: block;
    padding: 6px 10px;
    font-size: 12px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 0 3px 15px rgba(27, 28, 23, 0.15);
    -moz-box-shadow: 0 3px 15px rgba(27, 28, 23, 0.15);
    box-shadow: 0 3px 15px rgba(27, 28, 23, 0.15);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #1A1C17;
    z-index: 2;
}

/*Media queries for UI elements*/
@media screen and (min-width: 768px) and (max-width: 1024px){
    .message{
        height: auto;
        min-height: 36px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px){
    .message{
         width: 100%;
         height: auto;
         min-height: 36px;
         padding-top: 5px;
         padding-bottom: 5px;
     }
    .chip{
        white-space: normal;
    }
}